{% extends 'base.html' %}

{% block title %}Slash Gaming - Diablo2{% endblock %}

{% block content %}
        <div class="">
                <div class="page-title">
                        <div class="title_left">
                                <h3>Diablo2 <small>Lookup Details</small></h3>
                        </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
			<div class="col-md-12">
                                <div class="x_panel">
                                        <div class="x_title">
                                                <h2><i class="fa fa-gavel"></i> Lookup<small>{{ lookup.type. }} for {{ lookup.target }}</small></h2>
                                                <ul class="nav navbar-right panel_toolbox">
                                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                                </ul>
                                                <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content action_log">
						<div class="row">
	                                                <div class="col-xs-1">
								<strong>User</strong>
							</div>
							<div class="col-xs-10">
								{{ lookup.user.username }}
							</div>
						</div>
						<div class="row">
	                                                <div class="col-xs-1">
								<strong>Date</strong>
							</div>
							<div class="col-xs-10">
								{{ lookup.date }}
							</div>
						</div>
						<div class="row">
	                                                <div class="col-xs-1">
								<strong>Source</strong>
							</div>
							<div class="col-xs-10">
								{{ lookup.type }}
							</div>
						</div>
						<div class="row">
	                                                <div class="col-xs-1">
								<strong>Type</strong>
							</div>
							<div class="col-xs-10">
								{{ lookup.target }}
							</div>
						</div>
						<div class="row">
	                                                <div class="col-xs-1">
								<strong>Query</strong>
							</div>
							<div class="col-xs-10">
								{{ lookup.query }}
							</div>
						</div>
						<div class="row">
	                                                <div class="col-xs-1">
								<strong>Count</strong>
							</div>
							<div class="col-xs-10">
								{{ lookup.num_results }}
							</div>
						</div>
						<div class="row">
	                                                <div class="col-xs-1">
								<strong>Results</strong>
							</div>
							<div class="col-xs-9">
								{{ lookup.results|safe }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
