{% extends 'base.html' %}

{% block title %}Slash Gaming - Diablo2{% endblock %}

{% block extra-scripts %}
	<script src="/media/theme/js/tags/jquery.tagsinput.min.js"></script>
        <script src="/media/theme/js/datatables/js/jquery.dataTables.js"></script>
        <script src="/media/theme/js/datatables/tools/js/dataTables.tableTools.js"></script>
	<script>
		$(document).ready(function(){

			{% if perms.diablo2.moderation_history_report %}
                	var asInitVals = new Array();
        	        $(document).ready(function () {
	                        var oTable = $('#report_list').dataTable({
                                                	        "oLanguage": {
                                        	                        "sSearch": "Search all columns:",
									"sInfoThousands": ","
                                	                        },
                        	                                'iDisplayLength': 12,
                	                                        "sPaginationType": "full_numbers",
								"aaSorting": [[ 2, "desc" ]],
        	                                                "dom": 'lfrtip'
	                                        });
	                        var oTable = $('#lookup_list').dataTable({
                                                	        "oLanguage": {
                                        	                        "sSearch": "Search all columns:",
									"sInfoThousands": ","
                                	                        },
                        	                                'iDisplayLength': 12,
                	                                        "sPaginationType": "full_numbers",
								"aaSorting": [[ 2, "desc" ]],
        	                                                "dom": 'lfrtip'
	                                        });
	                        var oTable = $('#action_list').dataTable({
                                                	        "oLanguage": {
                                        	                        "sSearch": "Search all columns:",
									"sInfoThousands": ","
                                	                        },
                        	                                'iDisplayLength': 12,
                	                                        "sPaginationType": "full_numbers",
								"aaSorting": [[ 2, "desc" ]],
        	                                                "dom": 'lfrtip'
	                                        });
                        	$("tfoot input").keyup(function () {
                	                oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        	                });
	                        $("tfoot input").each(function (i) {
                        	        asInitVals[i] = this.value;
                	        });
        	                $("tfoot input").focus(function () {
	                                if (this.className == "search_init") {
                                        	this.className = "";
                                	        this.value = "";
                        	        }
                	        });
        	                $("tfoot input").blur(function (i) {
	                                if (this.value == "") {
                                        	this.className = "search_init";
                                	        this.value = asInitVals[$("tfoot input").index(this)];
                        	        }
                	        });
        	        });
			{% endif %}
			$('.pwshow').click(function(event){
				event.preventDefault();
				var parent = $(this).parent().parent();
				if ($('input',parent).attr('type') == 'text'){
					$('input',parent).attr('type','password');
					$(this).text('Show');
				}else{
					$('input',parent).attr('type','text');
					$(this).text('Hide');
				}
			});

			{% if perms.diablo2.moderation_investigate %}
			{% if perms.diablo2.log_sync %}
			//Sync Logs
			$('#log_sync').click(function(event){
				event.preventDefault();
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/log_sync/",
				}).done(function(message){
					if (message.success){
						$('#log_sync_time').html(message.message);
					}else{
						new PNotify({
							title: 'Warning',
							text: message.message
						});
					}
				});
			});
			{% endif %}
			{% if perms.diablo2.moderation_investigate_database %}
			$('.db-search').click(function(event){
				event.preventDefault();
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/moderation/search/",
					data: {
						action: 'search',
						source: 'database',
						target: $(this).attr('name'),
						terms: $('#db_search_query').val()
					}
				}).done(function(message){
					if (message.success){
						results = $('<div class="row">'+
								'<div class="col-md-12">'+
									'<div class="x_panel">'+
										'<div class="x_title">'+
											'<h2>'+message.count + ' Results<small>' + message.query+' <a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/lookup/'+ message.logid +'">Permalink</a></small></h2>'+
											'<div class="clearfix"></div>'+
										'</div>'+
										'<div class="x_content">'+
											message.result+
										'</div>'+
									'</div>'+
								'</div>',+
							'</div>');


						$('#db-search-results').prepend(results);
						new PNotify({
							title: 'Lookup Complete',
							text: 'Lookup of ' + message.query + ' was completed',
							type: 'success'
						});
					}else{
						new PNotify({
							title: message.title,
							text: message.message,
							type: message.type
						});
						
					}
				});
			});
			{% endif %}
			{% if perms.diablo2.moderation_investigate_charname %}
			$('.charname-search').click(function(event){
				event.preventDefault();
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/moderation/search/",
					data: {
						action: 'search',
						source: 'charname',
						target: 'file',
						terms: $('#charname_query').val()
					}
				}).done(function(message){
					if (message.success){
						results = $('<div class="row">'+
								'<div class="col-md-12">'+
									'<div class="x_panel">'+
										'<div class="x_title">'+
											'<h2>Account Lookup<small>' + message.query+' <a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/lookup/'+ message.logid +'">Permalink</a></small></h2>'+
											'<div class="clearfix"></div>'+
										'</div>'+
										'<div class="x_content">'+
											message.result+
										'</div>'+
									'</div>'+
								'</div>',+
							'</div>');


						$('#charname-results').prepend(results);
						new PNotify({
							title: 'Account Lookup Complete',
							text: 'Account lookup for ' + message.query + ' was completed',
							type: 'success'
						});

					}else{
						new PNotify({
							title: message.title,
							text: message.message,
							type: message.type
						});
						
					}
				});
			});
			{% endif %}
			{% if perms.diablo2.moderation_investigate_characterlist %}
			$('.charlist-search').click(function(event){
				event.preventDefault();
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/moderation/search/",
					data: {
						action: 'search',
						source: 'charlist',
						target: 'file',
						terms: $('#charlist_query').val()
					}
				}).done(function(message){
					if (message.success){
						results = $('<div class="row">'+
								'<div class="col-md-12">'+
									'<div class="x_panel">'+
										'<div class="x_title">'+
											'<h2>Character List Lookup<small>' + message.query+' <a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/lookup/'+ message.logid +'">Permalink</a></small></h2>'+
											'<div class="clearfix"></div>'+
										'</div>'+
										'<div class="x_content">'+
											message.result+
										'</div>'+
									'</div>'+
								'</div>',+
							'</div>');


						$('#charlist-results').prepend(results);
						new PNotify({
							title: 'Character List Lookup Complete',
							text: 'Character list lookup for ' + message.query + ' was completed',
							type: 'success'
						});

					}else{
						new PNotify({
							title: message.title,
							text: message.message,
							type: message.type
						});
						
					}
				});
			});
			{% endif %}
			{% if perms.diablo2.moderation_investigate_logs %}
			$('.log-search').click(function(event){
				event.preventDefault();
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/moderation/search/",
					data: {
						action: 'search',
						source: 'logs',
						target: $(this).attr('name'),
						terms: $('#log_search_query').val()
					}
				}).done(function(message){
					if (message.success){
						results = $('<div class="row">'+
								'<div class="col-md-12">'+
									'<div class="x_panel">'+
										'<div class="x_title">'+
											'<h2>'+message.count + ' Results<small>' + message.query+' <a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/lookup/'+ message.logid +'">Permalink</a></small></h2>'+
											'<div class="clearfix"></div>'+
										'</div>'+
										'<div class="x_content">'+
											message.result+
										'</div>'+
									'</div>'+
								'</div>',+
						'</div>');
						$('#log-search-results').prepend(results);
						new PNotify({
							title: 'Lookup Complete',
							text: 'Lookup of ' + message.query + ' was completed',
							type: 'success'
						});

					}else{
						new PNotify({
							title: message.title,
							text: message.message,
							type: message.type
						});
						
					}
				});
			});
			{% endif %}
			{% if perms.diablo2.moderation_investigate_report %}
               		$('#report_ignore_tags').tagsInput({
	                	width: 'auto',
				defaultText: '+Exclude'
               		});
			$('.report-generate').click(function(event){
				event.preventDefault();
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/moderation/search/",
					data: {
						action: 'search',
						source: 'report',
						terms: $('#report_query').val(),
						ignore: $('#report_ignore_tags').val()
					}
				}).done(function(message){
					if (message.success){
						if (message.final){
							var title = '<h2>Report for ' + message.query + '<small>Depth '+message.depth+'</small><small> <button class="btn btn-success btn-xs">Final</button><a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/report/'+ message.reportid +'">Permalink</a></small></h2>';
						}else{
							var title = '<h2>Report for ' + message.query + '<small>Depth '+message.depth+'</small><small> <button class="btn btn-info btn-xs report-continue" href="#" name="' + message.reportid + '"><i class="fa fa-refresh"> </i> Continue</button> <button class="btn btn-default btn-xs report-finalize" href="#" name="' + message.reportid + '"><i class="fa fa-refresh"> </i> Finalize</button><a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/report/'+ message.reportid +'">Permalink</a></small></h2>';
						}
						results = $('<div class="row" id="report-'+ message.reportid +'">'+
								'<div class="col-md-12">'+
									'<div class="x_panel">'+
										'<div class="x_title">'+
											title +
											'<div class="clearfix"></div>'+
										'</div>'+
										'<div class="x_content">'+
											message.result+
										'</div>'+
									'</div>'+
								'</div>',+
							'</div>');


						$('#report-results').prepend(results);
						new PNotify({
							title: 'Report Generated',
							text: 'Report for ' + message.query + ' was generated successfully',
							type: 'success'
						});
					}else{
						new PNotify({
							title: message.title,
							text: message.message,
							type: message.type
						});
						
					}
				});
			});
			$('#i-report-tab').on('click', '.report-continue', function(event){
				event.preventDefault();
				$('i',this).addClass('fa-spin');
				$(this).addClass('disabled');
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/moderation/search/",
					data: {
						action: 'search',
						source: 'report',
						reportid: $(this).attr('name'),
					}
				}).done(function(message){
					if (message.success){
						if (message.final){
							var title = '<h2>Report for ' + message.query + '<small>Depth '+message.depth+'</small><small> <button class="btn btn-success btn-xs disabled">Final</button><a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/report/'+ message.reportid +'">Permalink</a></small></h2>';
						}else{
							var title = '<h2>Report for ' + message.query + '<small>Depth '+message.depth+'</small><small> <button class="btn btn-info btn-xs report-continue" href="#" name="' + message.reportid + '"><i class="fa fa-refresh"> </i> Continue</button> <button class="btn btn-default btn-xs report-finalize" href="#" name="' + message.reportid + '"><i class="fa fa-refresh"> </i> Finalize</button><a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/report/'+ message.reportid +'">Permalink</a></small></h2>';
						}
						results = $('<div class="col-md-12">'+
								'<div class="x_panel">'+
									'<div class="x_title">'+
										title +
										'<div class="clearfix"></div>'+
									'</div>'+
									'<div class="x_content">'+
										message.result+
									'</div>'+
								'</div>'+
							'</div>');


						$('#report-'+message.reportid).html(results);
						new PNotify({
							title: 'Report Updated',
							text: 'Report for '+ message.query + ' was updated successfully',
							type: 'success'
						});
					}else{
						new PNotify({
							title: message.title,
							text: message.message,
							type: message.type
						});
						
					}
				});
			});
			$('#i-report-tab').on('click', '.report-finalize', function(event){
				event.preventDefault();
				$('i',this).addClass('fa-spin');
				$(this).addClass('disabled');
				$('.report-continue',$(this).parent()).remove();
				$.ajax({
					method: "POST",
					beforeSend: function(request){
						request.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'));
					},
					url: "/diablo2/moderation/search/",
					data: {
						action: 'search',
						source: 'report',
						reportid: $(this).attr('name'),
						finalize: true
					}
				}).done(function(message){
					if (message.success){
						var title = '<h2>Report for ' + message.query + '<small>Depth '+message.depth+'</small><small> <button class="btn btn-success btn-xs disabled">Final</button><a target="_blank" class="btn btn-default btn-xs" href="/diablo2/moderation/report/'+ message.reportid +'">Permalink</a></small></h2>';
						results = $('<div class="col-md-12">'+
								'<div class="x_panel">'+
									'<div class="x_title">'+
										title +
										'<div class="clearfix"></div>'+
									'</div>'+
									'<div class="x_content">'+
										message.result+
									'</div>'+
								'</div>'+
							'</div>');


						$('#report-'+message.reportid).html(results);
						new PNotify({
							title: 'Report Finalized',
							text: 'Report for '+ message.query + ' was finalized',
							type: 'success'
						});
					}else{
						new PNotify({
							title: message.title,
							text: message.message,
							type: message.type
						});
						
					}
				});
			});
			{% endif %}
			{% endif %}
		});
	</script>
{% endblock %}

{% block content %}
        <div class="">
                <div class="page-title">
                        <div class="title_left">
                                <h3>Diablo2 <small>Moderation</small></h3>
                        </div>
                </div>
                <div class="clearfix"></div>
		{% if perms.diablo2.moderation_investigate %}
                <div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><i class="fa fa-search"></i> Investigate <small>Searching and reporting</small></h2>
						<ul class="nav navbar-right panel_toolbox">
		                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                		                </ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-xs-2">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#i-sync-tab" data-toggle="tab">Sync Log</a></li>
								{% if perms.diablo2.moderation_investigate_database %}<li><a href="#i-db-tab" data-toggle="tab">Database</a></li>{% endif %}
								{% if perms.diablo2.moderation_investigate_logs %}<li><a href="#i-log-tab" data-toggle="tab">Logs</a></li>{% endif %}
								{% if perms.diablo2.moderation_investigate_report %}<li><a href="#i-report-tab" data-toggle="tab">Report</a></li>{% endif %}
								{% if perms.diablo2.moderation_investigate_charname %}<li><a href="#i-charname-tab" data-toggle="tab">Account Lookup</a></li>{% endif %}
								{% if perms.diablo2.moderation_investigate_characterlist %}<li><a href="#i-charlist-tab" data-toggle="tab">Character List</a></li>{% endif %}
							</ul>
						</div>
						<div class="col-xs-10">
							<div class="tab-content">
								<div class="tab-pane active" id="i-sync-tab">
									<div class="col-md-12">
										<p class="lead">Sync Gameserver Logs</p>
										<p id="log_sync_time">Log was last synced and parsed <strong id="sync_mins">{{ log_sync_mins }}</strong> minutes ago at <strong id="sync_time">{{ log_sync_time }}</strong> by <strong id="sync_user">{{ log_sync_user }}</strong>.</p>	
										{% if perms.diablo2.log_sync %}<a id='log_sync' class="btn btn-primary" href='#'>Sync Now</a>{% endif %}
									</div>
								</div>
								{% if perms.diablo2.moderation_investigate_database %}
								<div class="tab-pane" id="i-db-tab">
									<div class="col-md-12">
										<p class="lead">Database Search</p>
										<p>Search the PVPGN Database for accounts.</p>
				                                                <div class="input-group col-xs-9">
											<input id='db_search_query' type="text" class="form-control" aria-label="Database search query">
											<div class="input-group-btn">
												<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search <span class="caret"></span></button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li><a class='db-search' name='account' href="#">Account Name</a></li>
													<li><a class='db-search' name='email' href="#">Email Address</a></li>
													<li><a class='db-search' name='ip' href="#">Last IP</a></li>
													{% if perms.diablo2.moderation_investigate_database_password %}<li><a class='db-search' name='password' href="#">Matching Password</a></li>{% endif %}
												</ul>
											</div>
										</div>
										<div id="db-search-results"></div>
                                        				</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_investigate_logs %}
								<div class="tab-pane" id="i-log-tab">
									<div class="col-md-12">
										<p class="lead">Log Search</p>
										<p>Search the D2GS logs for ip addresses and game history</p>
				                                                <div class="input-group col-xs-9">
											<input id='log_search_query' type="text" class="form-control" aria-label="Log search query">
											<div class="input-group-btn">
												<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search <span class="caret"></span></button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li><a class='log-search' name='activity-account' href="#">Activity (Account)</a></li>
													<li><a class='log-search' name='activity-character' href="#">Activity List (Character)</a></li>
													<li><a class='log-search' name='activity-ip' href="#">Activity List (IP)</a></li>
													<li class="divider"></li>
													<li><a class='log-search' name='ip-account' href="#">IP List (Account)</a></li>
													<li><a class='log-search' name='ip-character' href="#">IP List (Character)</a></li>
													<li><a class='log-search' name='ip-ip' href="#">IP List (IP)</a></li>
													<li class="divider"></li>
													<li><a class='log-search' name='gamelist-account' href="#">Game List (Account)</a></li>
													<li><a class='log-search' name='gamelist-character' href="#">Game List (Character)</a></li>
													<li><a class='log-search' name='gamelist-ip' href="#">Game List (IP)</a></li>
													<li class="divider"></li>
													<li><a class='log-search' name='account-ip' href="#">Account List (IP)</a></li>
													<li class="divider"></li>
													<li><a class='log-search' name='gameinfo' href="#">Game Info (Game Name)</a></li>
												</ul>
											</div>
										</div>
										<div id="log-search-results"></div>
                                        				</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_investigate_report %}
								<div class="tab-pane" id="i-report-tab">
									<div class="col-md-12">
										<p class="lead">Generate Report</p>
										<p>Generate a full activity report for a user based on an account name</p>
				                                                <div class="input-group col-xs-9">
											<input id='report_query' type="text" class="form-control" aria-label="Report account name">
											<div class="input-group-btn">
												<button type="button" class="report-generate btn btn-primary">Generate</button>
											</div>
										</div>
                                        				</div>
									<div class="col-md-12">
										<div class="input-group col-xs-9">
											<input id="report_ignore_tags" type="text" class="tags form-control" value="{{ report_ignore }}" />
										</div>
									</div>
									<div class="col-md-12">
										<div id="report-results"></div>
									</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_investigate_charname %}
								<div class="tab-pane" id="i-charname-tab">
									<div class="col-md-12">
										<p class="lead">Character Account lookup</p>
										<p>Lookup the account name for a character</p>
				                                                <div class="input-group col-xs-9">
											<input id='charname_query' type="text" class="form-control" aria-label="Character Name">
											<div class="input-group-btn">
												<button type="button" class="charname-search btn btn-primary">Find</button>
											</div>
										</div>
                                        				</div>
									<div class="col-md-12">
										<div id="charname-results"></div>
									</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_investigate_characterlist %}
								<div class="tab-pane" id="i-charlist-tab">
									<div class="col-md-12">
										<p class="lead">Account Character List</p>
										<p>Lookup a list of characters for a given account</p>
				                                                <div class="input-group col-xs-9">
											<input id='charlist_query' type="text" class="form-control" aria-label="Account Name">
											<div class="input-group-btn">
												<button type="button" class="charlist-search btn btn-primary">List</button>
											</div>
										</div>
                                        				</div>
									<div class="col-md-12">
										<div id="charlist-results"></div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if perms.diablo2.moderation_action %}
                <div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><i class="fa fa-gavel"></i> Actions <small>Take action against accounts</small></h2>
						<ul class="nav navbar-right panel_toolbox">
		                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                		                </ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-xs-2">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#a-lock-tab" data-toggle="tab">Lock Account</a></li>
								<li><a href="#a-unlock-tab" data-toggle="tab">Unlock Account</a></li>
								<li><a href="#a-ban-tab" data-toggle="tab">Ban IP</a></li>
								<li><a href="#a-unban-tab" data-toggle="tab">Unban IP</a></li>
								<li><a href="#a-kick-tab" data-toggle="tab">Kick</a></li>
								<li><a href="#a-ann-tab" data-toggle="tab">Announce</a></li>
								<li><a href="#a-chpass-tab" data-toggle="tab">Change Password</a></li>
							</ul>	
						</div>
						<div class="col-xs-10">
							<div class="tab-content">
								<div class="tab-pane active" id="a-lock-tab">
									<p class="lead">Lock Account</p>
									<p>
										Set accounts to be locked
									</p>
								</div>
								<div class="tab-pane" id="a-unlock-tab">
									<p class="lead">Unlock Account</p>
									<p>
										Remove locked status from accounts
									</p>
								</div>
								<div class="tab-pane" id="a-ban-tab">
									<p class="lead">Ban IP</p>
									<p>
										Add an IP to the ban list
									</p>
								</div>
								<div class="tab-pane" id="a-unban-tab">
									<p class="lead">Unban IP</p>
									<p>		
										Remove an IP from the ban list
									</p>
								</div>
								<div class="tab-pane" id="a-kick-tab">
									<p class="lead">Kick</p>
									<p>
										Kick an account from the GS and BNET
									</p>
								</div>
								<div class="tab-pane" id="a-ann-tab">
									<p class="lead">Announce</p>
									<p>
										Send an announcement through the gameserver, maybe BNET
									</p>
								</div>
								<div class="tab-pane" id="a-motd-tab">
									<p class="lead">Set MOTD</p>
									<p>
										Set the gameserver MOTD
									</p>
								</div>
								<div class="tab-pane" id="a-chpass-tab">
									<p class="lead">Change Password</p>
									<p>
										Change account passwords
									</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if perms.diablo2.moderation_gamelist %}
                <div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><i class="fa fa-gamepad"></i> Active Games <small>Information about the current active games</small></h2>
						<ul class="nav navbar-right panel_toolbox">
		                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                		                </ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-xs-2">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#g-list-tab" data-toggle="tab">Game List</a></li>
								<li><a href="#g-detail-tab" data-toggle="tab">Game Details</a></li>
							</ul>
						</div>
						<div class="col-xs-10">
							<div class="tab-content">
								<div class="tab-pane active" id="g-list-tab">
									<p class="lead">Game List</p>
									<p>
										List of games taken from telnet (GL)
									</p>
								</div>
								<div class="tab-pane" id="g-detail-tab">
									<p class="lead">Game Details</p>
									<p>		
										Details of game taken from telnet (CL)
									</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>	
			</div>	
		</div>
		{% endif %}
		{% if perms.diablo2.moderation_history %}
                <div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><i class="fa fa-history"></i> History <small>View logs and previous reports</small></h2>
						<ul class="nav navbar-right panel_toolbox">
		                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                		                </ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-xs-2">
							<ul class="nav nav-tabs tabs-left">
								{% if perms.diablo2.moderation_history_report %}<li class="active"><a href="#h-report-tab" data-toggle="tab">Reports</a></li>{% endif %}
								{% if perms.diablo2.moderation_history_lookup %}<li><a href="#h-lookup-tab" data-toggle="tab">Lookups</a></li>{% endif %}
								{% if perms.diablo2.moderation_history_action %}<li><a href="#h-action-tab" data-toggle="tab">Action</a></li>{% endif %}
							</ul>
						</div>
						<div class="col-xs-10">
							<div class="tab-content">
								{% if perms.diablo2.moderation_history_report %}
								<div class="tab-pane active" id="h-report-tab">
									<div class="col-md-12">
										<p class="lead">Report History</p>
										<p>List of all previously run reports</p>
										<div class="input-group col-xs-10">
											<table id="report_list" class="table table-striped responsive-utilities jambo_table">
				                                                	        <thead>
				                                                        	        <tr class="headings">
				                                                                	        <th>Target </th>
                                				                                        	<th>User </th>
	                                                                				        <th>Date </th>
        	                        				                                        <th class="last">Final </th>
                	                                                				</tr>
					                                                        </thead>
                                					                        <tbody>
                                        	                        				{% for report in reports %}
				                	                                                <tr class="{% cycle 'odd' 'even' %} pointer">
                                					                                        <td class=" "><a href="{% url 'moderation_report' report.id %}" target="_blank">{{ report.target }}</a></td>
                                                                					        <td class=" ">{{ report.user.username }}</td>
                                				        	                                <td class=" "><span style="display:none;">{{ report.date|date:"Y/m/d H:i" }}</span>{{ report.date }}</td>
                                                                					        <td class=" last">{{ report.active|yesno|capfirst }}</td>
				                                                        	        </tr>
                                				                                	{% endfor %}
					                                                        </tbody>	
        	                        				                </table>
										</div>
									</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_history_lookup %}
								<div class="tab-pane" id="h-lookup-tab">
									<div class="col-md-12">
										<p class="lead">Lookup Log</p>
										<p>List of all previous lookups</p>
										<div class="input-group col-xs-10">
											<table id="lookup_list" class="table table-striped responsive-utilities jambo_table">
				                                                	        <thead>
				                                                        	        <tr class="headings">
				                                                                	        <th>Source </th>
                                				                                        	<th>Type </th>
	                                                                				        <th>Date </th>
	                                                                				        <th>Query </th>
	                                                                				        <th>Results </th>
        	                        				                                        <th class="last">User </th>
                	                                                				</tr>
					                                                        </thead>
                                					                        <tbody>
                                        	                        				{% for lookup in lookups %}
				                	                                                <tr class="{% cycle 'odd' 'even' %} pointer">
                                					                                        <td class=" "><a href="{% url 'moderation_lookup' lookup.id %}" target="_blank">{{ lookup.type }}</a></td>
                                					                                        <td class=" ">{{ lookup.target }}</td>
                                				        	                                <td class=" "><span style="display:none;">{{ lookup.date|date:"Y/m/d H:i" }}</span>{{ lookup.date }}</td>
                                                                					        <td class=" ">{{ lookup.query }}</td>
                                                                					        <td class=" ">{{ lookup.num_results }}</td>
                                                                					        <td class=" last">{{ lookup.user.username }}</td>
				                                                        	        </tr>
                                				                                	{% endfor %}
					                                                        </tbody>	
        	                        				                </table>
										</div>
									</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_history_action %}
								<div class="tab-pane" id="h-action-tab">
									<div class="col-md-12">
										<p class="lead">Action Log</p>
										<p>View previous actions by users</p>
										<div class="input-group col-xs-10">
											<table id="action_list" class="table table-striped responsive-utilities jambo_table">
				                                                	        <thead>
				                                                        	        <tr class="headings">
				                                                                	        <th>Action </th>
                                				                                        	<th>Target </th>
	                                                                				        <th>Date </th>
        	                        				                                        <th class="last">User </th>
                	                                                				</tr>
					                                                        </thead>
                                					                        <tbody>
                                        	                        				{% for action in actions %}
				                	                                                <tr class="{% cycle 'odd' 'even' %} pointer">
                                					                                        <td class=" "><a href="{% url 'moderation_action' action.id %}" target="_blank">{{ action.action }}</a></td>
                                                                					        <td class=" "><span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{action.target}}">{{ action.target|truncatechars:100 }}</span></td>
                                				        	                                <td class=" "><span style="display:none;">{{ action.date|date:"Y/m/d H:i" }}</span>{{ action.date }}</td>
                                                                					        <td class=" last">{% if action.user %}{{ action.user.username }}{% else %}Command Line{% endif %}</td>
				                                                        	        </tr>
                                				                                	{% endfor %}
					                                                        </tbody>	
        	                        				                </table>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>	
		</div>
		{% endif %}
		{% if perms.diablo2.moderation_passwords %}
                <div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><i class="fa fa-key"></i> Accounts <small>Access information</small></h2>
						<ul class="nav navbar-right panel_toolbox">
		                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                		                </ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-xs-2">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#p-main-tab" data-toggle="tab">Accounts</a></li>
								{% if perms.diablo2.moderation_passwords_telnet %}<li><a href="#p-telnet-tab" data-toggle="tab">Telnet</a></li>{% endif %}
								{% if perms.diablo2.moderation_passwords_game %}<li><a href="#p-game-tab" data-toggle="tab">In Game</a></li>{% endif %}
								{% if perms.diablo2.moderation_passwords_discord %}<li><a href="#p-discord-tab" data-toggle="tab">Discord</a></li>{% endif %}
								{% if perms.diablo2.moderation_passwords_subreddit %}<li><a href="#p-subreddit-tab" data-toggle="tab">Subreddit</a></li>{% endif %}

							</ul>
						</div>
						<div class="col-xs-10">
							<div class="tab-content">
								<div class="tab-pane active" id="p-main-tab">
									<div class="input-group col-xs-9">
										<p class="lead">Account Information</p>
										<p>Select a section from the left to view associated account information.<br><i class="fa fa-3x fa-share rotate-180"></i></p>
									</div>
								</div>
								{% if perms.diablo2.moderation_passwords_telnet %}
								<div class="tab-pane" id="p-telnet-tab">
									<div class="input-group col-xs-9">
										<p class="lead">Telnet Access</p>
										<p>Connect to telnet via a program such as PuTTY.</p>
										<form class="form-horizontal form-label-left">
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Host</label>
												<div class="col-md-6">
													<input type="text" class="form-control" value="{{ accounts_telnet.ip }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Port</label>
												<div class="col-md-6">
													<input type="text" class="form-control" value="{{ accounts_telnet.port }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Password</label>
												<div class="col-md-6">
													<div class="input-group">
														<input type="password" class="form-control" value="{{ accounts_telnet.password }}"><span class="input-group-btn"><button type="button" class="pwshow btn btn-primary">Show</button></span>
													</div>
												</div>
											</div>
										</div>
										</form>
									</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_passwords_game %}
								<div class="tab-pane" id="p-game-tab">
									<div class="input-group col-xs-9">
										<p class="lead">In Game Moderator Account</p>
										<p>Account to use in game for checking for bots and actions.</p>
										<form class="form-horizontal form-label-left">
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Account</label>
												<div class="col-md-6">
													<input type="text" class="form-control" value="{{ accounts_game.username }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Password</label>
												<div class="col-md-6">
													<div class="input-group">
														<input type="password" class="form-control" value="{{ accounts_game.password }}"><span class="input-group-btn"><button type="button" class="pwshow btn btn-primary">Show</button></span>
													</div>
												</div>
											</div>
										</div>
										</form>
									</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_passwords_discord %}
								<div class="tab-pane" id="p-discord-tab">
									<div class="input-group col-xs-9">
										<p class="lead">SlashDiablo Discord</p>
										<p>Owner account for the SlashDiablo discord.</p>
										<form class="form-horizontal form-label-left" autocomplete="false">
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Email</label>
												<div class="col-md-6">
													<input type="text" class="form-control" value="{{ accounts_discord.email }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Password</label>
												<div class="col-md-6">
													<div class="input-group">
														<input type="password" class="form-control" value="{{ accounts_discord.password }}"><span class="input-group-btn"><button type="button" class="pwshow btn btn-primary">Show</button></span>
													</div>
												</div>
											</div>
										</div>
										</form>
									</div>
								</div>
								{% endif %}
								{% if perms.diablo2.moderation_passwords_subreddit %}
								<div class="tab-pane" id="p-subreddit-tab">
									<div class="input-group col-xs-9">
										<p class="lead">Subreddit Account</p>
										<p>Info to log into the SlashDiablo subreddit owner.</p>
										<form class="form-horizontal form-label-left">
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Username</label>
												<div class="col-md-6">
													<input type="text" class="form-control" value="{{ accounts_subreddit.username }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<label class="col-sm-1 control-label">Password</label>
												<div class="col-md-6">
													<div class="input-group">
														<input type="password" class="form-control" value="{{ accounts_subreddit.password }}"><span class="input-group-btn"><button type="button" class="pwshow btn btn-primary">Show</button></span>
													</div>
												</div>
											</div>
										</div>
										</form>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>	
		</div>
		{% endif %}
		{% if perms.diablo2.moderation_system %}
                <div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><i class="fa fa-laptop"></i> System <small>Controls for PVPGN and D2GS</small></h2>
						<ul class="nav navbar-right panel_toolbox">
		                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                		                </ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-xs-2">
							<ul class="nav nav-tabs tabs-left">
								<li class="active"><a href="#sy-status-tab" data-toggle="tab">Status</a></li>
								<li><a href="#sy-d2gs-tab" data-toggle="tab">D2GS</a></li>
								<li><a href="#sy-pvpgn-tab" data-toggle="tab">PVPGN</a></li>
							</ul>
						</div>
						<div class="col-xs-10">
							<div class="tab-content">
								<div class="tab-pane active" id="sy-status-tab">
									<p class="lead">System Status</p>
									<p>
										View the status of the servers
									</p>
								</div>
								<div class="tab-pane" id="sy-d2gs-tab">
									<p class="lead">D2GS Gameserver</p>
									<p>
										Start, stop and restart the gameserver
									</p>
								</div>
								<div class="tab-pane" id="sy-pvpgn-tab">
									<p class="lead">PVPGN Bnet Server</p>
									<p>
										Start, stop and restart the pvpgn processes
									</p>
			
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

{% endblock %}
