{% extends 'base.html' %}
{% block title %}Slash Gaming - Premium{% endblock %}

{% block content %}
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Slash Premium</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel" style="height:600px;">
				<div class="x_title">
					<h2>Renew your Slash Premium Subscription</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="pricing">
									<div class="title">
										<h2>Slash Classic</h2>
										<h1>Free</h1>
									</div>
									<div class="x_content">
										<div class="">
											<div class="pricing_features">
												<ul class="list-unstyled text-left">
													<li><i class="fa fa-check text-success"></i> <strong>4 connections</strong> per IP</li>
													<li><i class="fa fa-check text-success"></i> <strong>True vanilla</strong> experience</li>
													<li><i class="fa fa-check text-success"></i> Customized <strong> BH Maphack</strong></li>
													<li><i class="fa fa-times text-danger"></i> Access to basic servers</li>
													<li><i class="fa fa-times text-danger"></i> 1.0x experience and drops</li>
													<li><i class="fa fa-times text-danger"></i> No free items or runes </li>
													<li><i class="fa fa-times text-danger"></i> Subject to all rules </li>
													<li><i class="fa fa-times text-danger"></i> Permanent hardcore death </li>
													<li><i class="fa fa-times text-danger"></i> No bots allowed</li>
												</ul>
											</div>
										</div>
										<div class="pricing_footer">
											<a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Purchase <span> now!</span></a>
										</div>
									</div>
								</div>
							</div>   
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="pricing">
									<div class="title">
										<h2>Slash Premium Basic</h2>
										<h1>$24.99</h1>
										<span>Monthly</span>
									</div>
									<div class="x_content">
										<div class="">
											<div class="pricing_features">
												<ul class="list-unstyled text-left">
													<li><i class="fa fa-check text-success"></i> <strong>6 connections</strong> per IP</li>
													<li><i class="fa fa-check text-success"></i> <strong>True vanilla</strong> experience</li>
													<li><i class="fa fa-check text-success"></i> Customized <strong>premium BH maphack</strong></li>
													<li><i class="fa fa-check text-success"></i> Access to <strong>premium</strong> servers <small>(35% improved ping!)</small></li>
													<li><i class="fa fa-check text-success"></i> <strong>1.5x</strong> experience and drops</li>
													<li><i class="fa fa-times text-danger"></i> No free items or runes </li>
													<li><i class="fa fa-times text-danger"></i> Subject to all rules</li>
													<li><i class="fa fa-times text-danger"></i> Permanent hardcore death</li>
													<li><i class="fa fa-times text-danger"></i> No bots allowed</li>
												</ul>
											</div>
										</div>
										<div class="pricing_footer">
											<a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Purchase <span> now!</span></a>
										</div>
									</div>
								</div>
							</div>   
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="pricing ui-ribbon-container">
									<div class="ui-ribbon-wrapper">
										<div class="ui-ribbon">
											20% Off!
										</div>
									</div>
									<div class="title">
										<h2>Slash Premium Pro</h2>
										<h1>$39.99</h1>
										<span>Monthly</span>
									</div>
									<div class="x_content">
										<div class="">
											<div class="pricing_features">
												<ul class="list-unstyled text-left">
													<li><i class="fa fa-check text-success"></i> <strong>8 connections</strong> per IP</li>
													<li><i class="fa fa-check text-success"></i> <strong>True vanilla</strong> experience</li>
													<li><i class="fa fa-check text-success"></i> Customized <strong>premium BH maphack</strong></li>
													<li><i class="fa fa-check text-success"></i> Access to <strong>professional</strong> servers <small>(50% improved ping!)</small></li>
													<li><i class="fa fa-check text-success"></i> <strong>2.5x</strong> experience and drops</li>
													<li><i class="fa fa-check text-success"></i> Single free item or rune of choice per week</li>
													<li><i class="fa fa-check text-success"></i> Minor rule violations are ignored</li>
													<li><i class="fa fa-times text-danger"></i> Permanent hardcore death</li>
													<li><i class="fa fa-times text-danger"></i> No bots allowed</li>
												</ul>
											</div>
										</div>
										<div class="pricing_footer">
											<a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Purchase <span> now!</span></a>
										</div>
									</div>
								</div>
							</div>   
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="pricing">
									<div class="title">
										<h2>Slash Premium Ultra</h2>
										<h1>$74.99</h1>
										<span>Monthly</span>
									</div>
									<div class="x_content">
										<div class="">
											<div class="pricing_features">
												<ul class="list-unstyled text-left">
													<li><i class="fa fa-check text-success"></i> <strong>12 connections</strong> per IP</li>
													<li><i class="fa fa-check text-success"></i> <strong>Vanilla or modded</strong> experience, your choice!</li>
													<li><i class="fa fa-check text-success"></i> Customized <strong>secret hack system</strong></li>
													<li><i class="fa fa-check text-success"></i> <strong>Ultra servers</strong> <small>(100% improved ping <strong>AND</strong> uptime)</small></li>
													<li><i class="fa fa-check text-success"></i> <strong>4.0x</strong> experience and drops</li>
													<li><i class="fa fa-check text-success"></i> <strong>Three free</strong> items <strong>AND</strong> runes of choice per week</li>
													<li><i class="fa fa-check text-success"></i> <strong>Most</strong> rule violations are ignored</li>
													<li><i class="fa fa-check text-success"></i> Two hardcore revives per month</li>
													<li><i class="fa fa-check text-success"></i> <strong>Up to two</strong> bots allowed</li>
												</ul>
											</div>
										</div>
										<div class="pricing_footer">
											<a href="javascript:void(0);" class="btn btn-success btn-block" role="button">Purchase <span> now!</span></a>
										</div>
									</div>
								</div>
							</div>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
