{% extends 'base.html' %}

{% block title %}Slash Gaming - Diablo2{% endblock %}

{% block content %}
        <div class="">
                <div class="page-title">
                        <div class="title_left">
                                <h3>Diablo2 <small>Report Details</small></h3>
                        </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
			<div class="col-md-12">
                                <div class="x_panel">
                                        <div class="x_title">
                                                <h2><i class="fa fa-eye"></i> Report<small>*{{ report.target }} on {{ report.date }} depth: {{ report.depth }} {% if not report.active %}Non {% endif %}Final</small></h2>
                                                <ul class="nav navbar-right panel_toolbox">
                                                        <li class="right-tool"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                                </ul>
                                                <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                                <div class="col-xs-2">
							{{ report.summary|safe }}
							{{ report.results|safe }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
