<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra-meta %}
	{% endblock %}

	<title>{% block title %}Slash Gaming - Home{% endblock %}</title>

	<link href="/media/theme/css/bootstrap.min.css" rel="stylesheet">
	<link href="/media/theme/fonts/css/font-awesome.min.css" rel="stylesheet">
	<link href="/media/theme/css/animate.min.css" rel="stylesheet">
	<link href="/media/theme/css/custom.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/media/theme/css/maps/jquery-jvectormap-2.0.1.css" />
	<link href="/media/theme/css/icheck/flat/green.css" rel="stylesheet" />
	<link href="/media/theme/css/floatexamples.css" rel="stylesheet" type="text/css" />
	{% block extra-styles %}
	{% endblock %}

	<script src="/media/theme/js/jquery.min.js"></script>
	<script src="/media/theme/js/nprogress.js"></script>
	<script src="/media/js/js-cookie.js"></script>
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	{% block extra-scripts-head %}
	{% endblock %}
</head>


<body class="{% block body-class %}nav-md{% endblock %}">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="/" class="site_title"><i class="fa fa-fire"></i> <span>Slash Gaming</span></a>
					</div>
					<div class="clearfix"></div>
					<div class="profile">
						<div class="profile_pic">
							<img src="/media/theme/images/d2logo.png" alt="..." class="img-circle profile_img">
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2>{% if request.user.is_authenticated %}{{ request.user.username|capfirst }}{% else %}Anonymous{% endif %}</h2>
						</div>
					</div>
					<br />
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>&nbsp;</h3>
							<ul class="nav side-menu">
								<li>
									<a><i class="fa fa-fire"></i> Diablo2 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu" style="display: none">
										<li>
											<a href="/diablo2/accounts/">Accounts</a>
										</li>
										<li>
											<a href="/diablo2/characters/">Characters</a>
										</li>
										{% if perms.diablo2.moderation_enabled %}
										<li>
											<a href="/diablo2/moderation/">Moderation</a>
										</li>
										{% endif %}
									</ul>
								</li>
								<li>
									<a href="/diablo2/premium/"><i class="fa fa-lock"></i> Slash Premium <span class="label label-primary pull-right">Unlock Now</span></a>
								</li>
								{% if request.user.is_superuser %}
								<li>
									<a href="/admin/"><i class="fa fa-gavel"></i> Admin </a>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="top_nav">
				<div class="nav_menu">
					<nav class="" role="navigation">
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li class="">
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<img src="/media/theme/images/d2logo.png" alt="">{% if request.user.is_authenticated %}{{ request.user.username|capfirst }}{% else %}Anonymous{% endif %}
									<span class=" fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
									{% if request.user.is_authenticated %}
									{% comment %}<li>
										<a href="/profile/"><i class="fa fa-user pull-right"></i>Profile</a>
									</li>
									<li>
										<a href="/settings/"><i class="fa fa-gear pull-right"></i> Settings</a>
									</li>{% endcomment %}
									<li>
										<a href="/logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
									</li>
									{% else %}
									<li>
										<a href="/login/"><i class="fa fa-sign-in pull-right"></i> Log In</a>
									</li>
									{% endif %}
								</ul>
							</li>
							{% comment %}{% if request.user.is_authenticated %}
							<li role="presentation" class="dropdown">
								<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-envelope-o"></i>
									<span class="badge bg-green">1</span>
								</a>
								<ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
									<li>
										<a>
											<span class="image">
												<img src="/media/theme/images/d3logo.png" alt="Profile Image" />
											</span>
											<span>
												<span>Diablo (Lord of Terror)</span>
												<span class="time">666 mins ago</span>
											</span>
											<span class="message">
												Your Slash Premium subscription has expired
											</span>
										</a>
									</li>
									<li>
										<div class="text-center">
											<a>
												<strong><a href="/alerts/">See All Alerts</strong>
												<i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul>
							</li>
							{% endif %}{% endcomment %}
						</ul>
					</nav>
				</div>

			</div>
			<div class="right_col" role="main">
				{% block content %}
					<div class="">
						<div class="page-title">
				                        <div class="title_left">
                        				        <h3>SlashGaming</h3>
			        	                </div>
				                </div>
				                <div class="clearfix"></div>
				                <div class="row">
				                        <div class="col-md-12">
                        			        	<div class="x_panel">
									<div class="row x_title">
                                						<div class="col-md-12">
											<h3>Activity <small>Diablo2 past 7 days</small></h3>
						                                </div>
					                                </div>
									<div class="col-md-12 col-sm-12 col-xs-12">
	                                					<div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
							                                <div style="width: 100%;">
							                                    <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
								                        </div>
								                </div>
			                        		        </div>
					                        </div>
			                	        </div>
			        	        </div>
				        </div>

				{% endblock %}
				<footer>
					<div class="">
						<p class="pull-right">&copy;{% now "Y" %}  Slash Gaming <strong><a href="https://reddit.com/r/slashdiablo">/r/slashdiablo/</a></strong> |
			                            <span class="lead"> <i class="fa fa-fire"></i> Slash Gaming</span>
                        			</p>
					</div>
					<div class="clearfix"></div>
				</footer>
			</div>

		</div>

	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>

	<script src="/media/theme/js/bootstrap.min.js"></script>

	<!-- bootstrap progress js -->
	<script src="/media/theme/js/progressbar/bootstrap-progressbar.min.js"></script>
	<script src="/media/theme/js/nicescroll/jquery.nicescroll.min.js"></script>

	<!-- icheck -->
	<script src="/media/theme/js/icheck/icheck.min.js"></script>

	<!-- daterangepicker -->
	<script type="text/javascript" src="/media/theme/js/moment.min.js"></script>
	<script type="text/javascript" src="/media/theme/js/datepicker/daterangepicker.js"></script>

	<!-- PNotify -->
	<script type="text/javascript" src="/media/theme/js/notify/pnotify.core.js"></script>
	<script type="text/javascript" src="/media/theme/js/notify/pnotify.buttons.js"></script>
	<script type="text/javascript" src="/media/theme/js/notify/pnotify.nonblock.js"></script>

	<script src="/media/theme/js/custom.js"></script>
	{% block extra-scripts %}
	<!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="/media/theme/js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/media/theme/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/date.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/jquery.flot.spline.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/curvedLines.js"></script>
    <script type="text/javascript" src="/media/theme/js/flot/jquery.flot.resize.js"></script>

    <!-- flot -->
	<script>
	 $(document).ready(function () {
                var games = [{% for g in games %}[gd({{g.date.year }}, {{ g.date.month }}, {{ g.date.day }}, {{ g.date.hour }}, {{ g.date.minute }}), {{ g.value }}]{% if not forloop.last %},{% endif %}{% endfor %}];
                var users = [{% for u in users %}[gd({{u.date.year }}, {{ u.date.month }}, {{ u.date.day }}, {{ u.date.hour }}, {{ u.date.minute }}), {{ u.value }}]{% if not forloop.last %},{% endif %}{% endfor %}];
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                { label: " Games", data: games }, { label: " Users", data: users}
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: false
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.3
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [12, "hour"],
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                },
                yaxis: {
                   ticks: 5,
                    tickColor: "rgba(51, 51, 51, 0.06)",
		   axisLabel: "Count",
                },
                tooltip: false
            });

            function gd(year, month, day, hour, minute) {
                return new Date(year, month - 1, day, hour, minute).getTime();
            }
        });

	</script>

	{% endblock %}

</body>

</html>
